In [1]:
import pandas
import sqlite3

In [2]:
conn = sqlite3.connect("complete_data.db")
cur = conn.cursor()

In [12]:
pandas.read_sql_query("select unit, count(distinct label) as counts "+
                      "from complete_table "+
                      "group by unit "+
#                       "limit 10 "+
                      "order by counts DESC"
                      ";", conn)

     unit  counts
0     128       6
1     505       6
2      10       5
3      28       5
4     102       5
5     109       5
6     112       5
7     134       5
8     188       5
9     212       5
10    254       5
11    278       5
12    296       5
13    308       5
14    320       5
15    330       5
16    342       5
17    371       5
18    424       5
19    439       5
20    466       5
21    467       5
22    472       5
23    473       5
24      2       4
25      3       4
26      5       4
27      6       4
28     15       4
29     17       4
..    ...     ...
482   400       2
483   405       2
484   409       2
485   415       2
486   416       2
487   417       2
488   426       2
489   442       2
490   445       2
491   449       2
492   452       2
493   454       2
494   455       2
495   459       2
496   462       2
497   463       2
498   468       2
499   470       2
500   479       2
501   492       2
502   495       2
503   496       2
504   499       2
505   509       2
506   512       2
507    94       1
508   194       1
509   222       1
510   275       1
511   410       1

[512 rows x 2 columns]