In [50]:
import pandas
import sqlite3

In [51]:
conn = sqlite3.connect("complete_data.db")
cur = conn.cursor()

In [52]:
dfs = {
    "original_df": pandas.read_csv("../netdissect_results/result/no_mod_pytorch_resnet18_places365/tally.csv"),
    "brightening_100": pandas.read_csv("../netdissect_results/result/brightening_100_pytorch_resnet18_places365/tally.csv"),
    "brightening_50": pandas.read_csv("../netdissect_results/result/brightening_50_pytorch_resnet18_places365/tally.csv"),
    "brightening_attack_100": pandas.read_csv("../netdissect_results/result/brightening_attack_100_pytorch_resnet18_places365/tally.csv"),
    "brightening_attack_100_dilate_10": pandas.read_csv("../netdissect_results/result/brightening_attack_100_dilate10_pytorch_resnet18_places365/tally.csv"),
    "gaussian_50": pandas.read_csv("../netdissect_results/result/gaussian_50_pytorch_resnet18_places365/tally.csv"),
    "gaussian_100": pandas.read_csv("../netdissect_results/result/gaussian_100_pytorch_resnet18_places365/tally.csv"),
    "gaussian_attack_100_dilation_10": pandas.read_csv("../netdissect_results/result/gaussian_attack_100_dilation_10_pytorch_resnet18_places365/tally.csv"),
    "gaussian_attack_100": pandas.read_csv("../netdissect_results/result/gaussian_attack_100_pytorch_resnet18_places365/tally.csv"),
    "jpeg_10": pandas.read_csv("../netdissect_results/result/jpeg10_pytorch_resnet18_places365/tally.csv"),
    "jpeg_25": pandas.read_csv("../netdissect_results/result/jpeg25_pytorch_resnet18_places365/tally.csv"),
    "jpeg_50": pandas.read_csv("../netdissect_results/result/jpeg50_pytorch_resnet18_places365/tally.csv")
}

In [53]:
# original_df.to_sql('no_mod', conn, if_exists='replace', index=False)
# new_df.to_sql('brightening_100_pytorch_resnet18_places365', conn, if_exists='replace', index=False)
for name in dfs:
    dfs[name]['dataset_name'] = name
    dfs[name].to_sql('complete_table', conn, if_exists='append', index=False)
#     dfs[name].to_sql(name, conn, if_exists='replace', index=False)
#     print(dfs[name].head())

In [21]:
# cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(cur.fetcha
pandas.read_sql_query("select dataset_name, count(*) from complete_table group by dataset_name;", conn)

                       dataset_name  count(*)
0                   brightening_100       512
1                    brightening_50       512
2  brightening_attack_100_dilate_10       512
3                      gaussian_100       512
4                       gaussian_50       512
5               gaussian_attack_100       512
6   gaussian_attack_100_dilation_10       512
7                       original_df       512

In [34]:




pandas.read_sql_query("select * "+
                      "from no_mod_pytorch_resnet18_places365 old, brightening_100_pytorch_resnet18_places365 new "+
                      "where new.unit=old.unit and new.label!=old.label "+
                      "limit 10;", conn)

,unit,category,label,score,color-label,color-truth,color-activation,color-intersect,color-iou,object-label,...,scene-label,scene-truth,scene-activation,scene-intersect,scene-iou,texture-label,texture-truth,texture-activation,texture-intersect,texture-iou
0,144,texture,paisley,0.114033,orange-c,30348501.0,3468844.0,241121.0,0.007181,painting,...,parlor-s,1003520.0,832160.0,85254.0,0.048705,interlaced,1630720.0,734125.0,258125.0,0.122525
1,386,object,train,0.106016,red-c,21004512.0,3465062.0,137351.0,0.005645,train,...,bus_depot-outdoor-s,163072.0,525398.0,44286.0,0.068747,None,24924928.0,165596.0,149785.0,0.006006
2,341,object,sea,0.099495,blue-c,61494563.0,3572969.0,1004092.0,0.015673,sea,...,beach-s,990976.0,1382169.0,302922.0,0.146323,None,24924928.0,278023.0,260690.0,0.010452
3,74,object,dog,0.097858,black-c,139916835.0,3510716.0,774792.0,0.005431,dog,...,train_station-outdoor-s,137984.0,163960.0,5254.0,0.017709,matted,1593088.0,160083.0,23209.0,0.013416
4,427,texture,waffled,0.095034,orange-c,30348501.0,3415433.0,548823.0,0.016523,case,...,bakery-shop-s,715008.0,769452.0,185942.0,0.143196,waffled,1555456.0,823095.0,252322.0,0.118671
5,311,scene,bathroom-s,0.086590,grey-c,159331282.0,3697891.0,1220230.0,0.007541,bathtub,...,bathroom-s,9257472.0,972473.0,930084.0,0.100011,pitted,1831424.0,7176.0,660.0,0.000359
6,141,texture,meshed,0.086150,white-c,72511065.0,3511612.0,491582.0,0.006508,skyscraper,...,jail_cell-s,238336.0,662858.0,44091.0,0.051442,grid,1682240.0,1435560.0,338829.0,0.121926
7,113,scene,dining_room-s,0.079272,orange-c,30348501.0,3595748.0,268235.0,0.007965,table,...,conference_room-s,2308096.0,1381837.0,421978.0,0.129126,sprinkled,1718528.0,11630.0,1269.0,0.000734
8,446,scene,game_room-s,0.078593,black-c,139916835.0,3409218.0,901772.0,0.006332,pool table,...,poolroom-home-s,1317120.0,1555903.0,365009.0,0.145537,polka-dotted,1705984.0,160362.0,24200.0,0.013137
9,357,object,dog,0.071524,green-c,63326720.0,3514780.0,507977.0,0.007658,dog,...,zen_garden-s,125440.0,340150.0,45508.0,0.108331,spiralled,1605632.0,329471.0,24757.0,0.012959

In [17]:
pandas.read_sql_query("select old.category, count(*) "+
                      "from no_mod_pytorch_resnet18_places365 old, brightening_100_pytorch_resnet18_places365 new "+
                      "where new.category=old.category and new.unit=old.unit and new.label!=old.label "+
                      "group by old.category "+
                      "limit 10"+
                      ";", conn)

  category  count(*)
0   object        13
1    scene        64
2  texture         9

In [19]:
pandas.read_sql_query("select old.category, count(*) "+
                      "from no_mod_pytorch_resnet18_places365 old, brightening_100_pytorch_resnet18_places365 new "+
                      "where new.category=old.category and new.unit=old.unit "+
                      "group by old.category "+
                      "limit 10"+
                      ";", conn)

  category  count(*)
0    color         1
1   object       111
2     part        13
3    scene       252
4  texture        40

In [28]:
pandas.read_sql_query("select count(*) "+
                      "from no_mod_pytorch_resnet18_places365 old "+
                      "where old.label='chair'"+
#                       "group by old.category "+
                      "limit 10"+
                      ";", conn)

   count(*)
0         1